
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<form action="../role/main-application-dashboard" method="post" novalidate data-validate='example-validation'>
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your answers before saving this section of your application</h1>

        <h2 class="govuk-heading-m">Significant political activity</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are you involved in significant political activity?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['significant-political-activity'] }}<br>
              {{ data['political-detail'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../role/more-about-you/significant-political-activity">
                Change<span class="govuk-visually-hidden"> significant political activity</span>
              </a>
            </dd>
          </div>
        </dl>


       
 
         <!--for prototype validation only-->
         <span class="govuk-visually-hidden">
            {{ govukCheckboxes({
              idPrefix: "political-check",
              name: "political-check",
              
            
              items: [
              {
                value: "confirm",
                text: "Confirm that you are happy with these details - this section requires content design.",
                checked: "true"
              }
            ]
          }) }}
          <input type="hidden" name="answers-checked" value="true">
          </span>

          <button class="govuk-button" data-module="govuk-button">
            Accept and save
          </button>

       

      </div>
    </div>
  </main>
</div>
</form>
<script type="application/json" id="example-validation">
  { 		  	
    "political-check": {
      "presence": {
        "message": "^validation to be confirmed."
      }
    }
  }
</script>
{% endblock %}
