
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="password" method="post">
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Update telephone numbers
        </h1>
       
        {{ govukInput({
          id: "telephone-number",
          name: "telephone-number",
          label: {
            text: "Main contact mobile number",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: "This must be a mobile number"
          },
          value :"07363 999888"
        }) }}
        
        {{ govukInput({
          id: "alt-telephone-number",
          name: "alt-telephone-number",
          label: {
            text: "Alternative contact number (optional)",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: "This may be a landline or mobile number"
          },
          value :"07363 444888"
        }) }}
       
       
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        
          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary",
            href: "../login-to-account"
          }) }}
        </div>

                 
              </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>

     

{% endblock %}
