
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="account-created-confirmation" method="post">
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Create account
          <span class="govuk-caption-l">
            Step 5 of 5
          </span>
        </h1>
        <h2 class="govuk-heading-l">
          Check your profile details
        </h2>



        <h2 class="govuk-heading-m">Personal details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Title
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['title'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['first-name'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['last-name'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['day'] }} {{ data['month'] }} {{ data['year'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['address-list'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">

              <p class="govuk-body">{{ data['email-address'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Telephone number (although we don't ask for it!)
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ data['telephone-number'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>


        {{ govukCheckboxes({
          idPrefix: "data-provacy-policy",
          name: "data-provacy-policy",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false
            }
          },
          hint: {
            text: " "
          },
          items: [
            {
              value: "yes",
              html: "Tick this box if you agree for us to use your data in accordance our <a href=# class=govuk-link>privacy policy</a> which explains how we treat your personal data and protect your  privacy when you use this service."
            }
          ]
        }) }}


        {{ govukCheckboxes({
          idPrefix: "data-provacy-policy",
          name: "data-provacy-policy",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false
            }
          },
          hint: {
            text: " "
          },
          items: [
            {
              value: "yes",
              text: "Tick this box if you would like to be added to our future opportunities list."
            }
          ]
        }) }}

        {% set helpText %}
          <h3 class="govuk-heading-s">Help with possible alerts for future opportunities</h3>
          <p>You had an option to select when you registered an account if you wished to receive alerts when appointments that match your preferences are advertised. However, it may be that your skills and experience match an exciting role in an area you haven’t considered before. If you would like to be contacted about such opportunities, if they arise, you can opt-in to that here.</p>
          <p>Our Privacy Notice [link] sets out in more detail how we will use your personal data, and your rights. It is made under Articles 13 and/or 14 of the UK General Data Protection Regulation (GDPR).</p>
          <p>If you are not content to share your personal data for these purposes then you do not need to opt-in to being contacted and this does not stop you from applying for public appointment roles. If you opt in but change your mind, you can opt out at any time and your details will be removed from the alert service.</p>
        {% endset -%}

        {{ govukDetails({
          summaryText: "Help with future opportunities",
          html: helpText
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Create account"
          }) }}

          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary"
          }) }}
        </div>


              </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>



{% endblock %}
