
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="check-account-answers" method="post">
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Create account
          <span class="govuk-caption-l">
            Step 4 of 5
          </span>
        </h1>
        <h2 class="govuk-heading-l">
          Create a password
        </h2>
        <p class="govuk-body">
          Content here explaining that this is the password for the user's account
        <p>
        {{ govukInput({
          id: "password",
          name: "password",
          type: "password"
        }) }}
        
        {{ govukInput({
          id: "password-repeated",
          name: "password-repeated",
          type: "password"
        }) }}
        
         
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
        
          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary"
          }) }}
        </div>

                 
              </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>

     

{% endblock %}
