<div class="headNav">
  <div class="govuk-width-container blue">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
      .
      </div>
      <div class="govuk-grid-column-three-thirds">
      <ul class=" govuk-list topNav">
        <li><a href="#">Search and apply</a></li>
        <li><a href="#">Announcements</a></li>
        <li><a href="#">Archive</a></li>
        <li><a href="/v2/account/login-to-account">Sign-in</a></li>
        <li><a href="#">Register</a></li>
      </ul>
      </div>
      
    </div>

  </div>
</div>
<div class="govuk-width-container">
<div class="govuk-grid-row govuk-!-margin-bottom-0">
  <div class="govuk-width-container">
      
      {{ govukPhaseBanner({
        tag: {
          text: "prototype"
        },
        html: 'This is not a real service.'
      }) }}
     
    </div>
 </div>
</div>

