
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="social-accounts" method="post" novalidate data-validate='example-validation'>
 {{ govukBackLink({
   text: "Back",
   href: "#"
 }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m">
          <span class="govuk-caption-l">
            Management of outside interests & reputational issues
          </span>
          Are there any other possible reputational issues arising from previous public statements, articles, blogs or any other publicly available information that you have made which you want to bring to the attention of the Advisory Assessment Panel? 
        </h1>
       
      
          
                   
        {% set repuationHtml %}

          {{ govukTextarea({
            id: "reputational-issues-info",
            name: "reputational-issues-info",
            label: {
              text: "Please give details and include links to relevant articles"
            }
          }) }}

        {% endset -%}

            
              

              
              
              {{ govukRadios({
                idPrefix: "social-media-accounts",
                name: "social-media-accounts",
               
                
                items: [
                  {
                    value: "yes",
                    text: "Yes",
                    conditional: {
                      html: repuationHtml
                    }
                  },
                  {
                    value: "No",
                    text: "No"
                  }
                ]
              }) }}

              <span class="govuk-visually-hidden">
                 <!--this is just here for the prototype and should not be included in production-->

               {{ govukCheckboxes({
                idPrefix: "social-media-accounts-check",
                name: "social-media-accounts-check",
                
                items: [
                  {
                    value: "confirm",
                    text: "confirm",
                    checked: "true"
                  }
                ]
              }) }}

              <!--this is just here for the prototype and should not be included in production-->
            </span>
                <div class="govuk-button-group">
                  {{ govukButton({
                    text: "Continue"
                  }) }}
                
                  {{ govukButton({
                    text: "Cancel",
                    classes: "govuk-button--secondary",
                    href: "../account-dashboard"
                  }) }}
                </div>

                  

              </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>

 <script type="application/json" id="example-validation">
  { 		  	
    "social-media-accounts": {
      "presence": {
        "message": "^Select yes, no or prefer not to say"
      }
    }
    
  }
</script>

{% endblock %}
