
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="future-opportunities-opt-in" method="post">
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Relevant error message displayed",
              href: "#passport-issued-day"
            }
          ]
        }) }}
        <h1 class="govuk-heading-xl">Curriculum vitae</h1>
        <p class="govuk-body">
          Please submit your CV including education, employment history and professional qualifications.
        <p>

          <p class="govuk-body">
            You should ensure your CV:
          <p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                Is kept to two pages
              </li>
              <li>
                Uses a minimum 12 font size
              </li>
              <li>
                meets the requirements set out in the role specification
              </li>
              <li>
                is under 10 Mb in file size
              </li>
              <li>
                is a supported file type; DOC, DOCX, ODT, PDF, RTF, TXT, WPS
              </li>
            </ul>

            {{ govukFileUpload({
              id: "file-upload-1",
              name: "file-upload-1",
              value: "file-uploaded",
              label: {
                text: "Upload a file"
              },
              errorMessage: {
                text: "Relevant error message displayed"
              }
            }) }}








                <div class="govuk-button-group">
                  {{ govukButton({
                    text: "Save"
                  }) }}

                  {{ govukButton({
                    text: "Cancel",
                    classes: "govuk-button--secondary",
                    href: "../account-dashboard"
                  }) }}
                </div>



              </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>



{% endblock %}
