// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.govuk-header__container{border-bottom:0px;padding-bottom:20px;}
.topNav{display:block;display: block;
}
.govuk-header{border-bottom:0px;}
.topNav li{list-style:none;display:inline;margin-left:20px;font-size:14pt;font-weight:600;}
.headNav{background-color:#0b0c0c;padding:0px 0px 0px 0px;margin:0px;}
.headNav a{color:#fff;text-decoration:none}
.headNav{color:#0b0c0c}
.large{font-size:18pt;}
.blue{border-bottom: 10px solid #1d70b8; }
.right{float:right;margin-top:10px;margin-right:-10px;}
.greyBack{background-color:#f3f2f1;padding:15px 10px 1px;}
.govuk-table__header.left {width:440px;}
.govuk-main-wrapper--auto-spacing:first-child, .govuk-main-wrapper--l{padding-top:10px;}
.thin{font-weight:400;font-size:14pt;}
.upper{text-transform: uppercase!important;}