// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.autocomplete__wrapper{position:relative}.autocomplete__hint,.autocomplete__input{-webkit-appearance:none;border:2px solid #0b0c0c;border-radius:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin-bottom:0;width:100%}.autocomplete__input{background-color:transparent;position:relative}.autocomplete__hint{color:#b1b4b6;position:absolute}.autocomplete__input--default{padding:5px}.autocomplete__input--focused{outline:3px solid #fd0;outline-offset:0;box-shadow:inset 0 0 0 2px}.autocomplete__input--show-all-values{padding:5px 34px 5px 5px;cursor:pointer}.autocomplete__dropdown-arrow-down{z-index:-1;display:inline-block;position:absolute;right:8px;width:24px;height:24px;top:10px}.autocomplete__menu{background-color:#fff;border:2px solid #0b0c0c;border-top:0;color:#0b0c0c;margin:0;max-height:342px;overflow-x:hidden;padding:0;width:100%;width:calc(100% - 4px)}.autocomplete__menu--visible{display:block}.autocomplete__menu--hidden{display:none}.autocomplete__menu--overlay{box-shadow:rgba(0,0,0,.256863) 0 2px 6px;left:0;position:absolute;top:100%;z-index:100}.autocomplete__menu--inline{position:relative}.autocomplete__option{border-bottom:solid #b1b4b6;border-width:1px 0;cursor:pointer;display:block;position:relative}.autocomplete__option>*{pointer-events:none}.autocomplete__option:first-of-type{border-top-width:0}.autocomplete__option:last-of-type{border-bottom-width:0}.autocomplete__option--odd{background-color:#fafafa}.autocomplete__option--focused,.autocomplete__option:hover{background-color:#1d70b8;border-color:#1d70b8;color:#fff;outline:0}.autocomplete__option--no-results{background-color:#fafafa;color:#646b6f;cursor:not-allowed}.autocomplete__hint,.autocomplete__input,.autocomplete__option{font-size:16px;line-height:1.25}.autocomplete__hint,.autocomplete__option{padding:5px}@media (min-width:641px){.autocomplete__hint,.autocomplete__input,.autocomplete__option{font-size:19px;line-height:1.31579}}
.govuk-header__container{border-bottom:0px;padding-bottom:20px;}
.topNav{display:block;display: block;
}
.govuk-header{border-bottom:0px;}
.topNav li{list-style:none;display:inline;margin-left:20px;font-size:14pt;font-weight:600;}
.headNav{background-color:#0b0c0c;padding:0px 0px 0px 0px;margin:0px;}
.headNav a{color:#fff;text-decoration:none}
.headNav{color:#0b0c0c}
.large{font-size:18pt;}
.blue{border-bottom: 10px solid #1d70b8; }
.right{float:right;margin-top:10px;margin-right:-10px;}
.greyBack{background-color:#f3f2f1;padding:15px 10px 1px;}
.govuk-table__header.left {width:65%;}
.govuk-main-wrapper--auto-spacing:first-child, .govuk-main-wrapper--l{padding-top:10px;}
.thin{font-weight:400;font-size:14pt;}
.upper{text-transform: uppercase!important;}
.vacancyTimeline {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5em 0;
    font-size: 80%;
}
.vacancyTimeline>li {
    margin: .5em;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "GDS Transport",arial,sans-serif;
    width:18%;
}
.vacancyTimeline>li>div:first-of-type {
    background-color: #505a5f;
    color: #fff;
    padding: .5em 1em;
}
.vacancyTimeline>li>div:nth-of-type(2) {
    margin-left: 1px;
    border-left: 1px dashed #505a5f;
    height: 4em;
    width: 0;
}
.govuk-body-s{font-size:100%!important}
.side-sort .govuk-accordion__section-button {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    border-width: 0;
    color: #1d70b8;
    background: none;
    text-align: left;
    cursor: pointer;
    -webkit-appearance: none;
    font-weight:400;
    font-size:20px;
}
.border-full{border: 1pt solid #b1b4b6;margin:20px 1%;width:30%;padding:10px 20px;min-height:300px;}
.autocomplete__wrapper * {
    @include govuk-typography-common();
  }
.noButton{background-color:#fff;border:none;font-size:12pt;margin-top:20px;padding-bottom:1px;border-bottom:1px solid #000}
.noButton:hover{cursor: pointer}
.limited{height:400px;overflow:auto;}
#sidesort.govuk-accordion__open-all{display:none;}
.js-enabled .govuk-accordion__open-all {
    font-size: 0px; 
}

#page-filtering-filters {
    .govuk-accordion__section-heading {
        padding-left: 50px !important;
    }
    .govuk-accordion {
      border: 0;
      .govuk-accordion__section {
        position: relative;
        padding: 0 0 10px;
        margin-bottom: 5px;
        border-bottom: 1px solid #b1b4b6;
      }
      .govuk-accordion__section-header {
        padding: 10px 8px 5px 43px;
        border: 0;
        .govuk-accordion__icon {
          display:none;
        }
        .icon {
          position: absolute;
          left: .3em;
          width: 30px;
          height: 1.8em;
          top: .2em;
          background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCI+PHBhdGggZD0ibTc5OC4xNiA2MDkuODRsLTI1Ni0yNTZjLTE2LjY4My0xNi42ODMtNDMuNjkxLTE2LjY4My02MC4zMzEgMGwtMjU2IDI1NmMtMTYuNjgzIDE2LjY4My0xNi42ODMgNDMuNjkxIDAgNjAuMzMxczQzLjY5MSAxNi42ODMgNjAuMzMxIDBsMjI1Ljg0LTIyNS44NCAyMjUuODQgMjI1Ljg0YzE2LjY4MyAxNi42ODMgNDMuNjkxIDE2LjY4MyA2MC4zMzEgMHMxNi42ODMtNDMuNjkxIDAtNjAuMzMxeiI+PC9wYXRoPjwvc3ZnPg==") no-repeat 50% 50%;
        }
        .govuk-accordion__section-button {
          margin-left: 0;
          @include govuk-font(19);
        }
        .count {
          @include govuk-font($size: 14);
          color: $govuk-text-colour;
          margin-top: 3px;
        }
      }
      .govuk-accordion__section--expanded {
        >.govuk-accordion__section-header {
          >.govuk-accordion__section-heading {
            .icon {
              background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMDI0IDEwMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTIyNS44NCA0MTQuMTZsMjU2IDI1NmMxNi42ODMgMTYuNjgzIDQzLjY5MSAxNi42ODMgNjAuMzMxIDBsMjU2LTI1NmMxNi42ODMtMTYuNjgzIDE2LjY4My00My42OTEgMC02MC4zMzFzLTQzLjY5MS0xNi42ODMtNjAuMzMxIDBsLTIyNS44NCAyMjUuODQtMjI1Ljg0LTIyNS44NGMtMTYuNjgzLTE2LjY4My00My42OTEtMTYuNjgzLTYwLjMzMSAwcy0xNi42ODMgNDMuNjkxIDAgNjAuMzMxeiI+PC9wYXRoPjwvc3ZnPg==") no-repeat 50% 50%;
            }
          }
        }
      }
      .govuk-accordion__section-content {
        position: relative;
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        &:focus {
          outline: 0;
        }
        padding: 0.1em 0 0 0;
      }
      .govuk-accordion__section-header, .govuk-accordion__section-content {
        padding-left: .5em;
      }
      @include govuk-media-query($from: desktop) {
        ::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 7px;
        }
        ::-webkit-scrollbar-thumb {
          border-radius: 4px;
          background-color: rgba(0, 0, 0, .5);
          -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .87);
        }
      }
    }
  }
  .margin-top-neg-3{margin-top: -40px;}
  #vacancies-pills {
    display: block;
}
.js-enabled #vacancies-pills>dl>span>span {
  display: inline-block;
}
#vacancies-pills>dl>dt, #vacancies-pills>dl * {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
}
#vacancies-pills>dl>dt, #vacancies-pills>dl * {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1428571429;
  display: inline-block;
}
#vacancies-pills>dl>span {
  white-space: nowrap;
  margin: 0;
}
#vacancies-pills>dl>span>span>button {
  padding-left: 1.5em;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTI0IDIwLjE4OGwtOC4zMTUtOC4yMDkgOC4yLTguMjgyLTMuNjk3LTMuNjk3LTguMjEyIDguMzE4LTguMzEtOC4yMDMtMy42NjYgMy42NjYgOC4zMjEgOC4yNC04LjIwNiA4LjMxMyAzLjY2NiAzLjY2NiA4LjIzNy04LjMxOCA4LjI4NSA4LjIwM3oiLz48L3N2Zz4=);
  background-position: .35em 45%;
  background-repeat: no-repeat;
  background-size: .75em .75em;
}
.js-enabled #vacancies-pills>dl>span>span>button {
  display: inline-block;
  cursor: pointer;
}
#vacancies-pills>dl>span dd, #vacancies-pills>dl>span button {
  padding: 10px 5px;
  border: 1px solid #505a5f;
  border-radius: 5px;
  background-color: #f3f2f1;
}
#vacancies-pills>dl>dt {
  margin-right: 5px;
  padding: 0;
  font-weight: bold;
}
#vacancies-pills>dl:nth-child(odd) {
  background-color: #f3f2f1;
  padding:10px 0px 10px 10px;
}
