
{% extends "layout-with-official-footer.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="#" method="post" >
 
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-xl">
          Contact us
         </h1>
         {{ govukInsetText({
           text: "Replies are typically made within 24 hours but may take longer based on the nature of your request.
           "
         }) }}
           
         {{ govukSelect({
           id: "department",
           name: "department",
           label: {
             text: "Department"
           },
          
           items: [
             {
               value: "",
               text: "Select a department",
               selected: "true"
             },
             {
              value: "Business, Energy and Industrial Strategy",
              text: "Business, Energy and Industrial Strategy"
            },
            {
              value: "Cabinet Office",
              text: "Cabinet Office"
            },
            {
              value: "Department for Digital, Culture Media and Sport",
              text: "Department for Digital, Culture Media and Sport"
            },
            {
              value: "Department for Education",
              text: "Department for Education"
            },
            {
              value: "Department for Environment, Food & Rural Affairs",
              text: "Department for Environment, Food & Rural Affairs"
            },
            {
              value: "Department of Health and Social Care",
              text: "Department of Health and Social Care"
            },
            {
              value: "Department for International Development",
              text: "Department for International Development"
            },
            {
              value: "Department for Levelling Up, Housing and Communities",
              text: "Department for Levelling Up, Housing and Communities"
            },
            {
              value: "Department for Transport",
              text: "Department for Transport"
            },
            {
              value: "Department for Work and Pensions",
              text: "Department for Work and Pensions"
            },
            {
              value: "Foreign and Commonwealth Office",
              text: "Foreign and Commonwealth Office"
            },
            {
              value: "Her Majesty’s Treasury",
              text: "Her Majesty’s Treasury"
            },
            {
              value: "Home Office",
              text: "Home Office"
            },
            {
              value: "Ministry of Defence",
              text: "Ministry of Defence"
            },
            {
              value: "Ministry of Justice",
              text: "Ministry of Justice"
            },
            {
              value: "NHS",
              text: "NHS"
            },
            {
              value: "Northern Ireland Office",
              text: "Northern Ireland Office"
            },
            {
              value: "UK Export Finance",
              text: "UK Export Finance"
            },
            {
              value: "Wales",
              text: "Wales"
            }
           ]
         }) }}

         {{ govukInput({
          classes: "govuk-input--width-30",
           id: "email-address",
           name: "email-address",
           label: {
             text: "Email address"
           },
           hint: {
             text: "We'll reply to your email address. It won't be used for any other purpose.
             "
           }
         }) }}
         
         {{ govukCharacterCount({
           name: "message-text",
           id: "message-text",
           maxlength: 200,
           label: {
             text: "Message"
           },
           hint: {
             text: "Do not include sensitive information such as personal details or passwords."
           }
         }) }}

         {{ govukButton({
           text: "Send",
           href: "contact-us-confirmation"
         }) }}
        </div>
      </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>

     

{% endblock %}
