
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="../role/main-application-dashboard" method="post">
 {{ govukBackLink({
   text: "Back",
   href: "#"
 }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Reset your password</h1>
        
    <p class="govuk-body govuk-!-margin-bottom-6">
      Enter your user account's verified email address and we will send you a password reset link.
    <p>
          

          {{ govukInput({
            id: "email",
            name: "email",
            label: {
              text: "Email address",
              classes: "govuk-!-font-weight-bold",
            isPageHeading: false
            },
            type: "email",
            autocomplete: "email",
            spellcheck: false,
              classes: " govuk-input--width-30",
            isPageHeading: false
          }) }}

        
          
         
                <div class="govuk-button-group govuk-!-margin-bottom-6">
                  
                  {{ govukButton({
                    text: "continue",
                    href: "forgotten-password-confirmation"
                  }) }}
                
                 
                </div>
               
                              

              </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>

     

{% endblock %}
