{% extends "layout.html" %}

{% block pageTitle %}
  Public appointments
{% endblock %}

{% block content %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Public appointments",
      href: "#"
    },
    {
      text: "My account",
      href: "#"
    },
    {
      text: "Role alerts"
    }
  ]
}) }}
<main class="govuk-main-wrapper " id="main-content" role="main">
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Role alert
      </h1>

    
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ govukRadios({
            idPrefix: "email-alert-role-frequency",
            name: "email-alert-role-frequency",
            fieldset: {
              legend: {
                text: "Alert frequency",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "How frequently should we notify you when roles of interest are published on our website?"
            },
            items: [
              {
                value: "Disabled",
                text: "Disabled"
              },
              {
                value: "Immediately",
                text: "Immediately"
              },
              {
                value: "Daily",
                text: "Daily"
              },
              {
                value: "Weekly",
                text: "Weekly"
              }
            ]
          }) }}

              <!-- accordion starts here-->
              <div id="page-filtering-filters">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                  Alert filters
                </h2>
                <p class="govuk-body govuk-!-margin-bottom-1">
                  Use the filters below to target roles which are of interest to you. 
                <p>
                
               
                

                <div class="govuk-accordion govuk-accordion--singular margin-top-neg-3" data-module="govuk-accordion" id="accordion-default">
                  <div class="govuk-accordion__controls">
                    <button type="button" class="govuk-accordion__open-all" aria-expanded="false">Open all<span class="govuk-visually-hidden">
                        sections</span></button>
                  </div>
                  <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">

                        <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
                          Location
                          <span class="govuk-accordion__icon" aria-hidden="true"></span></button>
                        <div class="icon"></div>
                        <div class="count"></div>
                      </h2>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                      <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_locations" name="filter_locations" type="checkbox" value="1000" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="filter_locations">
                              East Midlands
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_locations-2" name="filter_locations" type="checkbox" value="1001" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="filter_locations-2">
                              East of England
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_locations-3" name="filter_locations" type="checkbox" value="1002" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="filter_locations-3">
                              London
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_locations-4" name="filter_locations" type="checkbox" value="1003">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_locations-4">
                              North East
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_locations-5" name="filter_locations" type="checkbox" value="1004">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_locations-5">
                              North West
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_locations-6" name="filter_locations" type="checkbox" value="1005">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_locations-6">
                              Northern Ireland
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_locations-7" name="filter_locations" type="checkbox" value="1006">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_locations-7">
                              Scotland
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_locations-8" name="filter_locations" type="checkbox" value="1007">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_locations-8">
                              South East
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_locations-9" name="filter_locations" type="checkbox" value="1008">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_locations-9">
                              South West
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_locations-10" name="filter_locations" type="checkbox" value="1009">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_locations-10">
                              Various
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_locations-11" name="filter_locations" type="checkbox" value="1010">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_locations-11">
                              Wales
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_locations-12" name="filter_locations" type="checkbox" value="1011">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_locations-12">
                              West Midlands
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_locations-13" name="filter_locations" type="checkbox" value="1012">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_locations-13">
                              Yorkshire and the Humber
                            </label>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">

                        <button type="button" id="accordion-default-heading-2" aria-controls="accordion-default-content-2" class="govuk-accordion__section-button" aria-expanded="false">
                          Skills
                          <span class="govuk-accordion__icon" aria-hidden="true"></span></button>
                        <div class="icon"></div>
                        <div class="count"></div>
                      </h2>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

                      <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills" name="filter_skills" type="checkbox" value="1000" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills">
                              Accountancy
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills-2" name="filter_skills" type="checkbox" value="1001" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills-2">
                              Audit and Risk
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills-3" name="filter_skills" type="checkbox" value="1002">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills-3">
                              Business
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills-4" name="filter_skills" type="checkbox" value="1003">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills-4">
                              Change Management
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills-5" name="filter_skills" type="checkbox" value="1004">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills-5">
                              Commercial
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills-6" name="filter_skills" type="checkbox" value="1005">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills-6">
                              Communication
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills-7" name="filter_skills" type="checkbox" value="1006">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills-7">
                              Media
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills-8" name="filter_skills" type="checkbox" value="1007">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills-8">
                              Marketing
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills-9" name="filter_skills" type="checkbox" value="1008">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills-9">
                              Human Resources
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills-10" name="filter_skills" type="checkbox" value="1009">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills-10">
                              Insurance
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills-11" name="filter_skills" type="checkbox" value="1010">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills-11">
                              International Experience
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills-12" name="filter_skills" type="checkbox" value="1011">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills-12">
                              IT / Digital
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills-13" name="filter_skills" type="checkbox" value="1012">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills-13">
                              Legal
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills-14" name="filter_skills" type="checkbox" value="1013">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills-14">
                              Judicial
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills-15" name="filter_skills" type="checkbox" value="1014">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills-15">
                              Major Projects
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills-16" name="filter_skills" type="checkbox" value="1015">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills-16">
                              Procurement
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills-17" name="filter_skills" type="checkbox" value="1016">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills-17">
                              Regulation
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills-18" name="filter_skills" type="checkbox" value="1017">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills-18">
                              Retail
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_skills-19" name="filter_skills" type="checkbox" value="1018">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_skills-19">
                              Transformation
                            </label>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">

                        <button type="button" id="accordion-default-heading-3" aria-controls="accordion-default-content-3" class="govuk-accordion__section-button" aria-expanded="false">
                          Sponsor Department
                          <span class="govuk-accordion__icon" aria-hidden="true"></span></button>
                        <div class="icon"></div>
                        <div class="count"></div>
                      </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">

                      <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments" name="filter_departments" type="checkbox" value="1000">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments">
                              Attorney General's Office
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-2" name="filter_departments" type="checkbox" value="1001">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-2">
                              Cabinet Office
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-3" name="filter_departments" type="checkbox" value="1002">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-3">
                              Crown Prosecution Service
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-4" name="filter_departments" type="checkbox" value="1003">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-4">
                              Department for Communities &amp; Local Government
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-5" name="filter_departments" type="checkbox" value="1004">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-5">
                              Department for Digital, Culture, Media and Sport
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-6" name="filter_departments" type="checkbox" value="1005">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-6">
                              Department for Education
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-7" name="filter_departments" type="checkbox" value="1006">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-7">
                              Department for Environment, Food &amp; Rural Affairs
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-8" name="filter_departments" type="checkbox" value="1007">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-8">
                              Department for Exiting the European Union
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-9" name="filter_departments" type="checkbox" value="1008">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-9">
                              Department for International Development
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-10" name="filter_departments" type="checkbox" value="1009">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-10">
                              Department for International Trade
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-11" name="filter_departments" type="checkbox" value="1010">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-11">
                              Department for Transport
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-12" name="filter_departments" type="checkbox" value="1011">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-12">
                              Department for Work and Pensions
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-13" name="filter_departments" type="checkbox" value="1012">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-13">
                              Department of Business, Energy and Industrial Strategy
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-14" name="filter_departments" type="checkbox" value="1013">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-14">
                              Department of Energy &amp; Climate Change
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-15" name="filter_departments" type="checkbox" value="1014">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-15">
                              Department of Health
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-16" name="filter_departments" type="checkbox" value="1015">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-16">
                              Foreign &amp; Commonwealth Office
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-17" name="filter_departments" type="checkbox" value="1016">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-17">
                              Foreign Commonwealth &amp; Development Office
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-18" name="filter_departments" type="checkbox" value="1017">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-18">
                              Government Legal Department
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-19" name="filter_departments" type="checkbox" value="1018">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-19">
                              HM Courts &amp; Tribunals Service
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-20" name="filter_departments" type="checkbox" value="1019">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-20">
                              HM Revenue &amp; Customs
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-21" name="filter_departments" type="checkbox" value="1020">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-21">
                              HM Treasury
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-22" name="filter_departments" type="checkbox" value="1021">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-22">
                              Home Office
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-23" name="filter_departments" type="checkbox" value="1022">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-23">
                              House of Commons
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-24" name="filter_departments" type="checkbox" value="1023">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-24">
                              House of Lords
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-25" name="filter_departments" type="checkbox" value="1024">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-25">
                              Local Government &amp; Social Care Ombudsman
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-26" name="filter_departments" type="checkbox" value="1025">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-26">
                              Ministry of Defence
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-27" name="filter_departments" type="checkbox" value="1026">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-27">
                              Ministry of Justice
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-28" name="filter_departments" type="checkbox" value="1027">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-28">
                              NHS
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-29" name="filter_departments" type="checkbox" value="1028">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-29">
                              NHS Improvement
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-30" name="filter_departments" type="checkbox" value="1029">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-30">
                              NHS Trust Development Authority
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-31" name="filter_departments" type="checkbox" value="1030">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-31">
                              Northern Ireland Office
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-32" name="filter_departments" type="checkbox" value="1031">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-32">
                              Office of First Minister and deputy First Minister
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-33" name="filter_departments" type="checkbox" value="1032">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-33">
                              Office of the Secretary of State for Scotland and OAG
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-34" name="filter_departments" type="checkbox" value="1033">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-34">
                              Other
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-35" name="filter_departments" type="checkbox" value="1034">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-35">
                              Scotland Office
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-36" name="filter_departments" type="checkbox" value="1035">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-36">
                              Scotland Office and Office of the Advocate General
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-37" name="filter_departments" type="checkbox" value="1036">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-37">
                              The Civil Service Commission
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-38" name="filter_departments" type="checkbox" value="1037">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-38">
                              The Supreme Court of the United Kingdom
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-39" name="filter_departments" type="checkbox" value="1038">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-39">
                              UK Export Finance
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-40" name="filter_departments" type="checkbox" value="1039">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-40">
                              UK Government Investments
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-41" name="filter_departments" type="checkbox" value="1040">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-41">
                              Various Government Departments
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-42" name="filter_departments" type="checkbox" value="1041">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-42">
                              Wales Office
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_departments-43" name="filter_departments" type="checkbox" value="1042">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_departments-43">
                              Welsh Government
                            </label>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">

                        <button type="button" id="accordion-default-heading-4" aria-controls="accordion-default-content-4" class="govuk-accordion__section-button" aria-expanded="false">
                          Regulated
                          <span class="govuk-accordion__icon" aria-hidden="true"></span></button>
                        <div class="icon"></div>
                        <div class="count"></div>
                      </h2>
                    </div>
                    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">

                      <div class="govuk-form-group">
                        <div id="filter_regulated-hint" class="govuk-hint">
                          Appointments made by United Kingdom Government Ministers to bodies and offices listed in the
                          <a href="https://publicappointments.cabinetoffice.gov.uk/wp-content/uploads/2019/11/Public-Appointments-No.-2-Order-in-Council-2019.pdf" target="_blank" class="govuk-link">Public Appointments Order in Council</a>
                          are regulated by the Commissioner for Public Appointments and are referred to as regulated public appointments.
                        </div>
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_regulated" name="filter_regulated" type="checkbox" value="1000" aria-describedby="filter_regulated-hint">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_regulated">
                              Yes
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_regulated-2" name="filter_regulated" type="checkbox" value="1001" aria-describedby="filter_regulated-hint">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_regulated-2">
                              No
                            </label>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">

                        <button type="button" id="accordion-default-heading-5" aria-controls="accordion-default-content-5" class="govuk-accordion__section-button" aria-expanded="false">
                          Sector
                          <span class="govuk-accordion__icon" aria-hidden="true"></span></button>
                        <div class="icon"></div>
                        <div class="count"></div>
                      </h2>
                    </div>
                    <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">

                      <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_industries" name="filter_industries" type="checkbox" value="1000">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_industries">
                              Business, Finance &amp; Skills
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_industries-2" name="filter_industries" type="checkbox" value="1001">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_industries-2">
                              Communities
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_industries-3" name="filter_industries" type="checkbox" value="1002">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_industries-3">
                              Culture, Media &amp; Sport
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_industries-4" name="filter_industries" type="checkbox" value="1003">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_industries-4">
                              Defence
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_industries-5" name="filter_industries" type="checkbox" value="1004">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_industries-5">
                              Education
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_industries-6" name="filter_industries" type="checkbox" value="1005">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_industries-6">
                              Energy
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_industries-7" name="filter_industries" type="checkbox" value="1006">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_industries-7">
                              Environment, Food &amp; Rural Affairs
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_industries-8" name="filter_industries" type="checkbox" value="1007">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_industries-8">
                              Health
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_industries-9" name="filter_industries" type="checkbox" value="1008">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_industries-9">
                              International
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_industries-10" name="filter_industries" type="checkbox" value="1009">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_industries-10">
                              Judicial, Prison &amp; Policing
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_industries-11" name="filter_industries" type="checkbox" value="1010">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_industries-11">
                              Prison &amp; Policing
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_industries-12" name="filter_industries" type="checkbox" value="1011">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_industries-12">
                              Regulation
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_industries-13" name="filter_industries" type="checkbox" value="1012">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_industries-13">
                              Science &amp; Technology
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_industries-14" name="filter_industries" type="checkbox" value="1013">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_industries-14">
                              Transport
                            </label>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                 
                  <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">

                        <button type="button" id="accordion-default-heading-7" aria-controls="accordion-default-content-7" class="govuk-accordion__section-button" aria-expanded="false">
                          Appointment Type
                          <span class="govuk-accordion__icon" aria-hidden="true"></span></button>
                        <div class="icon"></div>
                        <div class="count"></div>
                      </h2>
                    </div>
                    <div id="accordion-default-content-7" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7">

                      <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_appointment_types" name="filter_appointment_types" type="checkbox" value="1000" aria-describedby="filter_appointment_types-item-hint">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_appointment_types">
                              Chair (or equivalent)
                            </label>
                            <div id="filter_appointment_types-item-hint" class="govuk-hint govuk-checkboxes__hint">
                              The Chair is responsible for strategic leadership of the board of an organisation and for ensuring its overall effectiveness and delivery against agreed purpose and objectives. More information about the role of Chairs in the public sector can be found
                              <a href="https://www.gov.uk/government/publications/public-bodies-non-executive-director-principles" target="_blank" class="govuk-link" rel="noreferrer noopener">here</a>
                            </div>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_appointment_types-2" name="filter_appointment_types" type="checkbox" value="1001" aria-describedby="filter_appointment_types-2-item-hint">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_appointment_types-2">
                              Member (or equivalent)
                            </label>
                            <div id="filter_appointment_types-2-item-hint" class="govuk-hint govuk-checkboxes__hint">
                              A member (often referred to as a non-executive director (NED)) supports the Chair in their leadership of the board and provides appropriate scrutiny and challenge to the executive of the organisation. More information on the role of non-executive directors in the public sector can be found
                              <a href="https://www.gov.uk/government/publications/public-bodies-non-executive-director-principles" target="_blank" class="govuk-link" rel="noreferrer noopener">here</a>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">

                        <button type="button" id="accordion-default-heading-8" aria-controls="accordion-default-content-8" class="govuk-accordion__section-button" aria-expanded="false">
                          Remunerated
                          <span class="govuk-accordion__icon" aria-hidden="true"></span></button>
                        <div class="icon"></div>
                        <div class="count"></div>
                      </h2>
                    </div>
                    <div id="accordion-default-content-8" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-8">

                      <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_remunerated" name="filter_remunerated" type="checkbox" value="1000">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_remunerated">
                              Yes
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_remunerated-2" name="filter_remunerated" type="checkbox" value="1001">
                            <label class="govuk-label govuk-checkboxes__label" for="filter_remunerated-2">
                              No
                            </label>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                 
                </div>
                <div id="vacancies-pills" class="govuk-!-margin-bottom-9 govuk-!-margin-top-9">
                  <h3 class="govuk-heading-m">
                    Selected criteria
                  </h3>
                  <p class="govuk-body">
                    You have selected the following criteria.
                  <p>
                  <dl>
                    <dt>Location</dt>
                    <span>
                      <span>
                        <button class="wire" data-filter="locations" data-value="1000" aria="Remove filter Location">East Midlands</button>
                      </span>
                      <noscript>
                        <dd>East Midlands</dd>
                      </noscript>
                    </span>
                    <span>
              <span>or</span>        <span>
                        <button class="wire" data-filter="locations" data-value="1001" aria="Remove filter Location">East of England</button>
                      </span>
                      <noscript>
                        <dd>East of England</dd>
                      </noscript>
                    </span>
                    <span>
              <span>or</span>        <span>
                        <button class="wire" data-filter="locations" data-value="1002" aria="Remove filter Location">London</button>
                      </span>
                      <noscript>
                        <dd>London</dd>
                      </noscript>
                    </span>
                  </dl>
                    <dl>
                    <dt>Skills</dt>
                    <span>
                      <span>
                        <button class="wire" data-filter="skills" data-value="1000" aria="Remove filter Skills">Accountancy</button>
                      </span>
                      <noscript>
                        <dd>Accountancy</dd>
                      </noscript>
                    </span>
                    <span>
              <span>or</span>        <span>
                        <button class="wire" data-filter="skills" data-value="1001" aria="Remove filter Skills">Audit and Risk</button>
                      </span>
                      <noscript>
                        <dd>Audit and Risk</dd>
                      </noscript>
                    </span>
                  </dl>
              
              
              </div>
                
              </div>
              <!-- accordion ends here-->

              <div class="govuk-button-group">
                {{ govukButton({
                  text: "Continue",
                  href: "alert-confirmation"
                }) }}
              
                {{ govukButton({
                  text: "Cancel",
                  classes: "govuk-button--secondary",
                  href: "../account-dashboard"
                }) }}
              </div>



              <!-- role as end-->
            </div>
          </div>
        

    </div>

  </div>
  
  </main>

{% endblock %}