
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="../role/main-application-dashboard" method="post" novalidate data-validate='example-validation'>
 {{ govukBackLink({
   text: "Back",
   href: "#"
 }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sign in</h1>
        
   
          

          {{ govukInput({
            id: "auth-code",
            name: "auth-code",
            label: {
              text: "Authentication code",
              classes: "govuk-label--m",
    isPageHeading: false
            },
            hint: {
              text: "We just sent you a message via SMS with your authentication code. Enter the code in the form below to verify your identity."
            },
              classes: " govuk-input--width-10",
            isPageHeading: false
          }) }}

         
          
         
                <div class="govuk-button-group govuk-!-margin-bottom-6">
                  
                  {{ govukButton({
                    text: "Sign in"
                  }) }}
                
                 
                </div>
                <div class="govuk-grid-row ">
                  <div class="govuk-grid-column-two-thirds">
                    
                    <a href="#" class="govuk-link">Re-send code</a>
                  </div>
                </div>
                              

              </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>
 <script type="application/json" id="example-validation">
  { 		  	
    "auth-code": {
      "presence": {
        "message": "^Enter the correct auth code sent to you via SMS."
      }
    }
  }
</script>
     

{% endblock %}
