
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="../../check-answers/check-answer-disability" method="post" novalidate data-validate='example-validation'>
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
       
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">
            Diversity monitoring
          </span>
          Do any of these conditions or illnesses affect you in any of the following areas?
        </h1>
        
        {{ govukInsetText({
          text: "The information you submit will not be seen by the panel considering your application. You can select 'prefer not to say' for any questions you do not want to answer."
        }) }}

        {{ govukDetails({
          summaryText: "Recording whether or not you have a disability",
          html: 
          "
          <p class='govuk-body'>
            In this [link to be added] video xxx, x of the x, describes the importance of providing your diversity information when applying for a public appointment, the reasonable adjustments you can request to support your application and the Government’s Disability Confident scheme.
          <p>
            <p class='govuk-body'>
              We are aware that answering questions about disability is sometimes not simple.
            <p>
          <p class='govuk-body-s'>
            We ask all applicants to public appointments to complete diversity monitoring questions, which includes questions about disability. We hope you will help us by providing this information. This will support our ongoing work to encourage disabled candidates to apply by being alert to any inadvertent barriers which are unfair to any particular groups of candidates. 
          <p>
            <p class='govuk-body'>
              To help you, please consider the following list of conditions. People with many health conditions (including but not limited to those listed below) sometimes find that society puts up barriers, or has negative attitudes that prevent them from being able to fully participate in society.
            <p>
              <p class='govuk-body'>
                You could answer “yes” to the disability question in the diversity monitoring section of your application if you have one, or more, of the following which have or are likely to last for 12 months or more:
              <p>
                <ul class='govuk-list govuk-list--bullet'>
                  <li>
                    Sensory impairments, such as those affecting hearing or sight (that cannot be corrected with glasses);
                  </li>
                  <li>
                    Specific conditions that affect particular organs of the body, including respiratory conditions, such as asthma, and cardiovascular diseases, including thrombosis, stroke and heart disease;
                  </li>
                  <li>
                    Neurological learning differences, such as autistic spectrum disorders (ASD), dyslexia and dyspraxia;
                  </li>
                  <li>
                    Cancer;
                  </li>
                  <li>
                    HIV/AIDs;
                  </li>
                  <li>
                    Multiple Sclerosis;
                  </li>
                  <li>
                    Learning disabilities;
                  </li>
                  <li>
                    Mental health conditions such as anxiety, low mood, panic attacks, phobias, or unshared perceptions; eating disorders; bipolar affective disorders; obsessive compulsive disorders; personality disorders; post traumatic stress disorder; depression and schizophrenia;
                  </li>
                  <li>
                    Impairments due to an accident/injury to parts of the body, including to the brain;
                  </li>
                  <li>
                    Fluctuating health conditions such as rheumatoid arthritis, myalgic encephalitis (ME), chronic fatigue syndrome (CFS), fibromyalgia and epilepsy;
                  </li>
                  <li>
                  Progressive health conditions such as motor neurone disease, muscular dystrophy and forms of dementia (including Alzheimer’s disease);
                    </li>
                    <li>
                      Auto-immune conditions such as systemic lupus erythematosis (SLE).
                    </li>
                </ul>
                <p class='govuk-body'>
                  This list is closely based on the <a href='https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/570382/Equality_Act_2010-disability_definition.pdf' class='govuk-link'>Equality Act 2010 Guidance</a>  issued by the Office for Disability Issues which provides additional information on each aspect of the Equality Act 2010’s definition of disability.
                <p>
                  <p class='govuk-body'>
                    If you are still unsure how to answer the question of whether you should say you are a disabled person on this form, thinking through the points below might help.
                  <p>
                    <ul class='govuk-list govuk-list--bullet'>
                      <li>
                        If you were not taking medication, using a hearing aid, using a prosthetic limb/wheelchair, having counselling, etc, would you still be able to carry out your usual daily/regular activities?
                      </li>
                     
                    </ul>
                    <p class='govuk-body'>
                      If you would be unable to undertake your usual activities, then please indicate you are a disabled person on this form.
                    <p>
                      <p class='govuk-body'>
                        It may also be useful for you to consider the legal definition that is used by the Equality Act 2010. Under this Act you are disabled if you have a physical or mental impairment that has a substantial or long term effect on your ability to do normal activities.
                      <p>
                        <p class='govuk-body'>
                          For example:
                        <p>
              <ul class='govuk-list govuk-list--bullet'>
                <li>
                  Substantial – It takes much longer than it usually would to complete a daily task such as getting dressed;
                </li>
                <li>
                  Long term – An impairment that has lasted or will last for more than 12 months;
                </li>
                <li>
                  Normal activities – Things people do on a regular or daily basis. Including shopping, reading and writing, having a conversation or using the telephone, watching television and general work-related activities such as interacting with colleagues, following instructions, using a computer, driving, carrying out interviews, preparing written documents, and keeping to a timetable or a shift pattern.
                </li>
              </ul>
              <p class='govuk-body'>
                Someone who is in plaster and using crutches because they have broken an ankle is unlikely to be able to carry out some of their usual daily activities, but they would not be considered a disabled person under the Equality Act because they will only be affected for a short period of time whilst their bone heals.
              <p>
                <p class='govuk-body'>
                  If you have a short term injury, or a health condition that is not substantial/long term we suggest you answer this question by stating that you do not have a disability.
                <p>
                  <p class='govuk-body'>
                    As with all the information you provide in the diversity monitoring section of your application for a public appointment, any information you provide will be treated as strictly confidential. It will be  handled separately from your application and will not be used in the selection process. No information will be published or used in any way which allows any individual to be identified.
                  <p>
              <p class='govuk-body'>
                Completing this information is voluntary and you are free to select the “Prefer not to say” option if you wish for any of the questions.
              <p>      
          "
        }) }}
      
        {% set otherHtml %}
                    
                    {{ govukInput({
                      id: "other-affected-disability",
                      name: "other-affected-disability",
                      label: {
                        text: "Detail the condition or illness"
                      }
                    }) }}
                    

        {% endset -%}
       
       

        
        {{ govukCheckboxes({
          idPrefix: "affected-ability",
          name: "affected-ability",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Vision",
              text: "Vision",
              hint: {
                text: "For example blindness or partial sight."
              }
            },
            {
              value: "Hearing",
              text: "Hearing",
              hint: {
                text: "For example deafness or partial hearing."
              }
            },
            {
              value: "Mobility",
              text: "Mobility",
              hint: {
                text: "For example walking short distances or climbing stairs."
              }
            },
            {
              value: "Dexterity",
              text: "Dexterity",
              hint: {
                text: "For example lifting and carrying objects, using a keyboard."
              }
            },
            {
              value: "Learning or understanding or concentrating",
              text: "Learning or understanding or concentrating"
            },
            {
              value: "Memory",
              text: "Memory"
            },
            {
              value: "Mental health",
              text: "Mental health"
            },
            {
              value: "Stamina or breathing or fatigue",
              text: "Stamina or breathing or fatigue"
            },
            {
              value: "Socially or behaviourally ",
              text: "Socially or behaviourally ",
              hint: {
                text: "For example associated with autism spectrum disorder (ASD) which includes Asperger’s, or attention deficit hyperactivity disorder (ADHD)."
              }
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: otherHtml
              }
            },
            {
              divider: "or"
            },
            {
              value: "prefer-not-to-say",
              text: "Prefer not to say"
            }
          ]
        }) }}

       



                <div class="govuk-button-group">
                  {{ govukButton({
                    text: "Continue"
                  }) }}
                
                  {{ govukButton({
                    text: "Cancel",
                    classes: "govuk-button--secondary",
                    href: "../main-application-dashboard"
                  }) }}
                </div>

                <p class="govuk-body">
                  Read more about <a href="../../account/your-data-and-diversity-data" class="govuk-link">your data and diversity data</a>.
                <p>

              </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>

 <script type="application/json" id="example-validation">
  { 		  	
    "affected-ability": {
      "presence": {
        "message": "^Select an option or 'Prefer not to say'"
      }
    }
    
  }
</script>

{% endblock %}
