
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="email-address" method="post">
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Create account
          <span class="govuk-caption-l">
            Step 3 of 5
          </span>
        </h1>
        {{ govukInput({
          id: "telephone-number",
          name: "telephone-number",
          label: {
            text: "Main contact number"
          },
          hint: {
            text: "This may be a landline or mobile number"
          }
        }) }}
        
        {{ govukInput({
          id: "alt-telephone-number",
          name: "alt-telephone-number",
          label: {
            text: "Alternative contact number"
          },
          hint: {
            text: "This may be a landline or mobile number"
          }
        }) }}
       
         
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        
          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary"
          }) }}
        </div>

                 
              </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>

     

{% endblock %}
