
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="../account-dashboard" method="post">
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Do you wish to opt into the talent pool?
        </h1>
        {% set yesHtml %}
       <p class='govuk-body'>
        Please submit your CV including education, employment history and professional qualifications.
       <p>
        <p class='govuk-body'>
          You should ensure your CV:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            is not more than two pages
          </li>
          <li>
            meets the requirements set out in the vacancy specification
          </li>
          <li>
            is under 10 Mb in file size
          </li>
          <li>
            is a supported filetype; DOC, DOCX, ODT, PDF, RTF, TXT, WPS
          </li>
        </ul>
        {{ govukFileUpload({
          id: "cv-upload",
          name: "cv-upload"
        }) }}

        {% endset -%}



        {{ govukRadios({
          idPrefix: "talent-pool",
          name: "talent-pool",
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: "true",
              conditional: {
                html: yesHtml
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "Help with the talent pool",
          text: "Require text on what the talent pool is"
        }) }}
         
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        
          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary",
            href: "../login-to-account"
          }) }}
        </div>

                 
              </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>

     

{% endblock %}
