
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="talent-pool" method="post">
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Do you wish to opt into the talent pool?
        </h1>
       



        {{ govukRadios({
          idPrefix: "talent-pool",
          name: "talent-pool",
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: "true"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "Help with the talent pool",
          text: "Require text on what the talent pool is"
        }) }}
         
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        
          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary",
            href: "../login-to-account"
          }) }}
        </div>

                 
              </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>

     

{% endblock %}
