
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="../role/main-application-dashboard" method="post">
 {{ govukBackLink({
   text: "Back",
   href: "#"
 }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
          titleText: "Password reset request complete"
          
        }) }}
  
        <p class="govuk-body">If you have used a regsitered email address we will have sent you an email with a reset link.</p>
  
        <h2 class="govuk-heading-m">What happens next</h2>
  
        <p class="govuk-body">
          You will need to use the link within the email we have sent to you, that will allow you to reset your password.
        </p>
      <a href="../login" class="govuk-link">Back to login screen</a>
      </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>

     

{% endblock %}
