
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="#" method="post" >
 
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ govukPanel({
            titleText: "Password reset",
            text: "Your password has been successfuly changed"
          }) }}
    
          <p class="govuk-body">Keep a safe record of your new password, you will need to use it the next time you log into your account.</p>
          <h2 class="govuk-heading-m">
            What happens next
          </h2>
         <p class="govuk-body">
           You may now sign in to your account dashboard using your new password.
         <p>

          {{ govukButton({
            text: "Sign in",
            href: "../login"
          }) }}
           
        </div>
      </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>

     

{% endblock %}
