{% extends "layout.html" %}

{% block pageTitle %}
  Public appointments
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <form action="cv-upload-one" method="post">
      {{ govukBackLink({
   text: "Back",
   href: "#"
 }) }}

      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Curriculum vitae</h1>

            <p class="govuk-body">
              Please submit a CV. Your CV should provide details of your education and qualifications, employment history, directorships, membership of professional bodies and details of any publications or awards (Help with CVs)
              <p>

                <p class="govuk-body">
                  You should ensure your CV:<p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Is kept to two pages</li>
                      <li>Uses an easy to read font (such as Arial, Calibri or Times New Roman)</li>
                      <li>Uses a minimum font size of 12
                      </li>
                      <li>meets the requirements set out in the vacancy specification</li>
                      <li>is under 10 Mb in file size</li>
                      <li>is a supported filetype; DOC, DOCX, ODT, PDF, RTF, TXT, WPS.
                      </li>
                    </ul>
                    {{ govukFileUpload({
              id: "file-upload-1",
              name: "file-upload-1",
              value: "file-uploaded",
              label: {
                text: "Upload a file"
              }
            }) }}

                    <div class="govuk-button-group">
                      {{ govukButton({
                    text: "Save and continue"
                  }) }}

                      {{ govukButton({
                    text: "Cancel",
                    classes: "govuk-button--secondary",
                    href: "../role/main-application-dashboard"
                  }) }}
                    </div>

                  </div>
                </div>
              </main>
            </div>
          </div>
        </form>
      </div>

    {% endblock %}