
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="../account-dashboard" method="post">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Public appointments",
        href: "#"
      },
      {
        text: "Home",
        href: "#"
      },
      {
        text: "My account",
        href: "#"
      },
      {
        text: "Other public appointments held"
        
      }
    ]
  }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Other public appointments held</h1>
        {{ govukWarningText({
          text: "The information you submit will not be seen by the panel considering your application. You can select 'prefer not to say' for any questions you do not want to answer.",
          iconFallbackText: "Warning"
        }) }}
      
          <p class="govuk-body">
            Please tell us about any other appointments that you hold, where you have been appointed by HM Government.; Welsh Government, Scottish Government, Northern Ireland Executive.
          <p>
            <p class="govuk-body">
              This includes all non-departmental public bodies (NDPBs), NHS bodies, parole boards and research councils. It does not include sitting as a school governor, being a magistrate or any positions within charities.
            <p>
                  
              {{ govukSelect({
                id: "public-appointments",
                name: "public-appointments",
                
                items: [
                  {
                    value: "0",
                    text: "0"
                  },
                  {
                    value: "1",
                    text: "1"
                  },
                  {
                    value: "2",
                    text: "2"
                  },
                  {
                    value: "3",
                    text: "3"
                  },
                  {
                    value: "4",
                    text: "4"
                  },
                  {
                    value: "5",
                    text: "5"
                  },
                  {
                    value: "6",
                    text: "6"
                  },
                  {
                    value: "7",
                    text: "7"
                  },
                  {
                    value: "8",
                    text: "8"
                  },
                  {
                    value: "9",
                    text: "9"
                  },
                  {
                    value: "10 or more",
                    text: "10 or more"
                  }
                ]
              }) }}


                <div class="govuk-button-group">
                  {{ govukButton({
                    text: "Save"
                  }) }}
                
                  {{ govukButton({
                    text: "Cancel",
                    classes: "govuk-button--secondary",
                    href: "../account-dashboard"
                  }) }}
                </div>

                  

              </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>

     

{% endblock %}
