
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your data and diversity data</h1>
       <p class="govuk-body">
        Public appointments are made by ministers, after a fair and open process, based on merit in accordance with the Cabinet Office Governance Code and the Public Appointments Order in Council. By completing this diversity monitoring form you will be helping us meet our public sector equality duty under section 149 of the Equality Act 2012 and section 75 of the Northern Ireland Act 1998. Your personal data will always be treated in confidence and when anonymised with data from other applicants will help compile the Annual Statistical Bulletin of the Commissioner for Public Appointments.
       <p>
          <p class="govuk-body">
            Your responses to questions regarding your gender, if you are disabled, your ethnic group, sexual orientation, your religion or belief, your age, principle residence and professional background will never be made available to the panel considering your application.
          <p>
            <p class="govuk-body">
              This diversity information is collected by government departments managing appointments to the board of public bodies, on behalf of the Cabinet Office and The Office of the Commissioner for Public Appointments (OCPA). This data will not be connected to your name when it is shared, it is supplied anonymously.
          OCPA collects diversity information in order to produce management information about the public appointments process, and the diversity of the field of applicants.
            <p>
              <p class="govuk-body">
                It will be published in OCPA’s annual report and website, in aggregated form. Departments, including the Cabinet Office, collect this data to enable government to meet its public sector equality duty under section 149 of the Equality Act 2010 and section 75 of the Northern Ireland Act 1998. It will be published in aggregated form. For full information about how we handle your data please see our privacy notice.	
              <p>
                <p class="govuk-body">
                  This data is collected and held on the basis that you consented to provide this information to departments alongside your application and you have not given notice that you do not wish for your data to be processed for this purpose.
                <p>
                 <p class="govuk-body">
                  This data may be held for up to 3 years by OCPA and up to 5 years by the Cabinet Office and the Government Department, who are all co-controllers of the data. This data is shared with Cabinet Office IT suppliers, identified as processors, in order to securely collect and store the data.
                 <p> 
     </div>
    </div>
  </main>
</div>
  </div>

 </div>

     

{% endblock %}
