
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="change-pssword-confirmation" method="post">
 {{ govukBackLink({
   text: "Back",
   href: "#"
 }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Change password</h1>
        
    
          

          <h2 class="govuk-heading-m">
            Current password
          </h2>

          {{ govukInput({
            id: "password",
            name: "password",
            type: "password",
            classes: "govuk-input--width-30 ",
            label: {
              text: "Enter your current password",
              isPageHeading: false,
              classes: " govuk-!-font-weight-bold ",
            isPageHeading: false
            }
          }) }}

          <h2 class="govuk-heading-m">
            New password
          </h2>

          {{ govukInput({
            id: "password",
            name: "password",
            type: "password",
            classes: "govuk-input--width-30 ",
            hint: {
              html: "Your password must:
                <ul class='govuk-list govuk-list--bullet'>
                  <li>
                    be between 8 and 20 characters
                  </li>
                  <li>
                   contain at least one number
                  </li>
                  <li>
                    contain both upper and lower case characters
                  </li>
                </ul>
              "
            },
            label: {
              text: "Create new password",
              isPageHeading: false,
              classes: " govuk-!-font-weight-bold ",
            isPageHeading: false
            }
          }) }}

          {{ govukInput({
            id: "password",
            name: "password",
            type: "password",
            classes: "govuk-input--width-30 ",
            label: {
              text: "Repeat new password",
              isPageHeading: false,
              classes: " govuk-!-font-weight-bold ",
            isPageHeading: false
            }
          }) }}
          
         
                <div class="govuk-button-group govuk-!-margin-bottom-6">
                  
                  {{ govukButton({
                    text: "Change password"
                  }) }}
                
                  {{ govukButton({
                    text: "Cancel",
                    classes: "govuk-button--secondary"
                  }) }}
                 
                </div>
               
                              

              </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>

     

{% endblock %}
