
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="talent-pool-upload-two" method="post">
  
  <main class="govuk-main-wrapper " id="main-content" role="main">
     <div class="govuk-grid-row">
          
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                  <h1 class="govuk-panel__title">
                    File uploaded successfully 
                  </h1>
                  <div class="govuk-panel__body">
                    Your CV has been uploaded and will be included with your application
                    
                </div>
                </div>
                <h2 class="govuk-heading-m">What happens next</h2>

                <p class="govuk-body">
                  You may now continue with your application
                </p>

                {{ govukButton({
                  text: "Continue",
                  href: "../main-application-dashboard"
                }) }}

              </div>
            </div>
      </div>
  </main>
</form>
</div>

     

{% endblock %}
