
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="../role/main-application-dashboard" method="post">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Public appointments",
        href: "#"
      },
      {
        text: "Home",
        href: "#"
      },
      {
        text: "My account"
      }
    ]
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">
          Welcome back,
        </span>
        <h1 class="govuk-heading-xl">Account home</h1>   
       </div>
       </div>
       <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            
           <div class="govuk-grid-row">
            
             <div class="govuk-grid-column-one-third border-full">
               <h3 class="govuk-heading-m">
                 Activity
               </h3>
               <ul class="govuk-list govuk-list--spaced">
                 <li>
                   <a href="applications-in-progress/application-lin-progress" class="govuk-link">Applications in progress (3)</a>
                 </li>
                 <li>
                  <a href="post-submission/application-listing" class="govuk-link">Submitted applications (8)</a>
                </li>
                
               </ul>
             </div>
             <div class="govuk-grid-column-one-third border-full">
              <h3 class="govuk-heading-m">
                Personal details
              </h3>
              <ul class="govuk-list govuk-list--spaced">
                <li>
                  <a href="#" class="govuk-link">Name, date of birth</a>
                </li>
                <li>
                 <a href="#" class="govuk-link">Address</a>
                </li>
                <li>
                 <a href="#" class="govuk-link">Telephone number</a>
                </li>
                <li>
                  <a href="change-email-address/change-email-address" class="govuk-link">Email address</a>
                 </li>
                
              </ul>
            </div>
            <div class="govuk-grid-column-one-third border-full">
              <h3 class="govuk-heading-m">
                Account
              </h3>
              <ul class="govuk-list govuk-list--spaced">
                <li>
                  <a href="role-alert/role-alert" class="govuk-link">Email role alerts</a>
                </li>
                <li>
                  <a href="more-about-you/talent-pool-question" class="govuk-link">Talent pool preferences</a>
                </li>
                <li>
                  <a href="communication-preferences/communications-preferences-list" class="govuk-link">Communications preferences</a>
                 </li>
                <li>
                 <a href="change-password/change-password" class="govuk-link">Change password</a>
                </li>
                <li>
                  <a href="delete-account/delete-account" class="govuk-link">Delete account</a>
                 </li>
              </ul>
            </div>
           </div>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Why we collect diversity data
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p class="govuk-body">
                    The Government encourages applications from talented individuals from all backgrounds and across the whole of the United Kingdom. Boards of public bodies are most effective when they reflect the diversity of views of the society they serve and this is an important part of the Government’s levelling up agenda.
                  <p>
                    <p class="govuk-body">
                      When you first register for an account to apply for public appointments, we ask that all applicants complete questions about your background and characteristics. You can select “prefer not to say” to any question you do not wish to answer. The information you provide will not be used as part of the selection process and will not be seen by the interview panel. 
                    <p>
                      <p class="govuk-body">
                        Your responses are collected by the Cabinet Office and the government department(s) managing your application. The data is used to produce management information about the diversity of applicants. Your information will also help ensure that our recruitment processes are fair to all. 
                      <p>
                        <p class="govuk-body">
                          Our  <a href="../footer/privacy" class="govuk-link">Privacy Notice</a>   sets out in more detail how we will use your personal data, and your rights. It is made under Articles 13 and/or 14 of the UK General Data Protection Regulation (GDPR).
                        <p>
                </div>
              </details>
          </div>
     </div>
     <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">
         <!--Diversity task list starts-->
         <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header left" scope="col"> Diversity monitoring </th>
              <th class="govuk-table__header  " scope="col"> Status </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="diversity-monitoring/sex-and-gender" class="govuk-link">Sex and gender</a>
              </td>
              <td class="govuk-table__cell">
               
                {% if data['sex-and-gender-check'] === 'confirm' %}

                <strong class="govuk-tag govuk-tag--blue">
                  Complete
                 </strong>

                 {% else %}

                 <strong class="govuk-tag govuk-tag--red">
                  Not complete
                </strong>

                {% endif %}


              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="diversity-monitoring/disability" class="govuk-link">Disability</a>
              </td>
              <td class="govuk-table__cell">

                {% if data['disability-check'] === 'confirm' %}

                <strong class="govuk-tag govuk-tag--blue">
                  Complete
                 </strong>

                 {% else %}

                 <strong class="govuk-tag govuk-tag--red">
                  Not complete
                </strong>

                {% endif %}

              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="diversity-monitoring/ethnicity" class="govuk-link">Ethnicity</a>
              </td>
              <td class="govuk-table__cell">
                
                {% if data['ethnicity-check'] === 'confirm' %}

                <strong class="govuk-tag govuk-tag--blue">
                  Complete
                 </strong>

                 {% else %}

                 <strong class="govuk-tag govuk-tag--red">
                  Not complete
                </strong>

                {% endif %}



              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="diversity-monitoring/religion" class="govuk-link">Religion</a>
              </td>
              <td class="govuk-table__cell">
               
                {% if data['religion-check'] === 'confirm' %}

                <strong class="govuk-tag govuk-tag--blue">
                  Complete
                 </strong>

                 {% else %}

                 <strong class="govuk-tag govuk-tag--red">
                  Not complete
                </strong>

                {% endif %}

              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="diversity-monitoring/sexual-orientation" class="govuk-link">Sexual orientation</a>
              </td>
              <td class="govuk-table__cell">
                
                {% if data['sexual-orientation-check'] === 'confirm' %}

                <strong class="govuk-tag govuk-tag--blue">
                  Complete
                 </strong>

                 {% else %}

                 <strong class="govuk-tag govuk-tag--red">
                  Not complete
                </strong>

                {% endif %}


              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="diversity-monitoring/employment" class="govuk-link">Employment</a>
              </td>
              <td class="govuk-table__cell">
               
                {% if data['employment-check'] === 'confirm' %}

                <strong class="govuk-tag govuk-tag--blue">
                  Complete
                 </strong>

                 {% else %}

                 <strong class="govuk-tag govuk-tag--red">
                  Not complete
                </strong>

                {% endif %}

              </td>
            </tr>
           
          </thead>
          <tbody class="govuk-table__body">
            
           
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="diversity-monitoring/education" class="govuk-link">Educational qualifications</a>
              </td>
              <td class="govuk-table__cell">
               
                {% if data['education-check'] === 'confirm' %}

                <strong class="govuk-tag govuk-tag--blue">
                  Complete
                 </strong>

                 {% else %}

                 <strong class="govuk-tag govuk-tag--red">
                  Not complete
                </strong>

                {% endif %}

              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="diversity-monitoring/professional-qualificiations" class="govuk-link">Professional qualifications</a>
              </td>
              <td class="govuk-table__cell">
                
                {% if data['professional-qualifictions-check'] === 'confirm' %}

                <strong class="govuk-tag govuk-tag--blue">
                  Complete
                 </strong>

                 {% else %}

                 <strong class="govuk-tag govuk-tag--red">
                  Not complete
                </strong>

                {% endif %}

              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="diversity-monitoring/other-public-appointments-held" class="govuk-link">Other public appointments held</a>
              </td>
              <td class="govuk-table__cell">
                {% if data['other-public-appointments-held-check'] === 'confirm' %}

                <strong class="govuk-tag govuk-tag--blue">
                  Complete
                 </strong>

                 {% else %}

                 <strong class="govuk-tag govuk-tag--red">
                  Not complete
                </strong>

                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
        <!--Diversity task list ends-->

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header left" scope="col">Management of outside interests & reputational issues</th>
              <th class="govuk-table__header  " scope="col"> Status </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="additional-interests/significant-political-activity" class="govuk-link">Political activity and interests</a>
              </td>
              <td class="govuk-table__cell">
               
                {% if data['political-activity-and-interests-check'] === 'confirm' %}

                <strong class="govuk-tag govuk-tag--blue">
                  Complete
                 </strong>

                 {% else %}

                 <strong class="govuk-tag govuk-tag--red">
                  Not complete
                </strong>

                {% endif %}

              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="additional-interests/social-media-accounts" class="govuk-link">Social media accounts</a>
              </td>
              <td class="govuk-table__cell">
               
                {% if data['social-media-accounts-check'] === 'confirm' %}

                <strong class="govuk-tag govuk-tag--blue">
                  Complete
                 </strong>

                 {% else %}

                 <strong class="govuk-tag govuk-tag--red">
                  Not complete
                </strong>

                {% endif %}

              </td>
            </tr>
          </tbody>
        </table>
       
       </div>
     </div>
  </main>
</div>
  </div>
</form>
 </div>

     

{% endblock %}
