
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Apply for a public appointment
      </h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ govukInsetText({
            html: "You can be one of the many people who help make a difference to public services.<br><br>
    
            Public appointees play a vital role in public life. They help guide the strategy for some of the most important institutions in the United Kingdom."
          }) }}
           
      
      <h2 class="govuk-heading-l">
        Search
      </h2>
      <p class="govuk-body">
        Search and apply for a role on the board of a public body or advisory committee. You can also browse:
      <p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          roles closed for application
        </li>
        <li>
          announcements for roles that have been filled
        </li>
      </ul>
    </div>
    </div>
      <!--main body of role dashboard starts-->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          side sort here
        </div>
        <div class="govuk-grid-column-three-quarters">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <p class="govuk-body-l">
                <b>2</b> roles
              <p>    
            </div>
            <div class="govuk-grid-column-two-thirds">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                  <label class="govuk-label right" for="sort">
                    Sort by
                  </label>
                </div>
                <div class="govuk-grid-column-two-thirds">
                  <div class="govuk-form-group">
                  
                    <select class="govuk-select" id="sort" name="sort">
                      <option value="comments">Application deadline [earliest]</option>
                      <option value="published">Application deadline [latest]</option>
                      <option value="updated" selected>Location [A-Z]</option>
                      <option value="views">Location [Z-A]</option>
                      
                    </select>
                  </div>
                </div>
              </div>
                
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div class="greyBack">
              <h3 class="govuk-heading-s">
                Status
              </h3>
              </div>
            </div>
          </div>

          <hr class="govuk-!-margin-bottom-6">

          <!--main jobs listing starts-->

          <ul class="govuk-list">
            <li>
              <a href="role-details" class="govuk-link large">Distribution Centre Manager</a>
              <span class="govuk-caption-m">
                Oil and Pipelines Agency
              </span>
              <table class="govuk-table">
               
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Sponsor Department</th>
                    <td class="govuk-table__cell">Department of Health</td>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Location</th>
                    <td class="govuk-table__cell">East of England</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Sector</th>
                    <td class="govuk-table__cell">Communities</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Skills</th>
                    <td class="govuk-table__cell">Audit and Risk</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Time commitment</th>
                    <td class="govuk-table__cell">45 hours per week</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Remuneration</th>
                    <td class="govuk-table__cell">From £30,000 to £35,000 per annum</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Application deadline</th>
                    <td class="govuk-table__cell">17 July 2028</td>
                  </tr>
                </tbody>
              </table>
            </li>



            <li>
              <a href="#" class="govuk-link large">Customer Service Advisor</a>
              <span class="govuk-caption-m">
                National Nuclear Laboratory
              </span>
              <table class="govuk-table">
               
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Sponsor Department</th>
                    <td class="govuk-table__cell">Attorney General's Office</td>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Location</th>
                    <td class="govuk-table__cell">East Midlands</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Sector</th>
                    <td class="govuk-table__cell">Business, Finance & Skills</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Skills</th>
                    <td class="govuk-table__cell">Accountancy</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Time commitment</th>
                    <td class="govuk-table__cell">37.5 hours per week</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Remuneration</th>
                    <td class="govuk-table__cell">From £50,000 to £80,000 per annum</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Application deadline</th>
                    <td class="govuk-table__cell">17 December 2030</td>
                  </tr>
                </tbody>
              </table>
            </li>
          </ul>


          <!--main jobs listing ends-->

        </div>
      </div>

      <!--main body of role dashboard ends-->
    </div>
  </div>

{% endblock %}
