
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="login-two-factor-authentication/two-factor-confirmation" method="post">
 {{ govukBackLink({
   text: "Back",
   href: "#"
 }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Change password</h1>
        
    
          

          <h2 class="govuk-heading-m">
            Current password
          </h2>

          {{ govukInput({
            id: "password",
            name: "password",
            type: "password",
            classes: "govuk-input--width-30 ",
            label: {
              text: "Type in your current password",
              isPageHeading: false,
              classes: " govuk-!-font-weight-bold ",
            isPageHeading: false
            }
          }) }}

          <h2 class="govuk-heading-m">
            New password
          </h2>

          {{ govukInput({
            id: "password",
            name: "password",
            type: "password",
            classes: "govuk-input--width-30 ",
            hint: {
              text: "Your password must be a minimum length of at least 8 characters"
            },
            label: {
              text: "Type in your new password",
              isPageHeading: false,
              classes: " govuk-!-font-weight-bold ",
            isPageHeading: false
            }
          }) }}

          {{ govukInput({
            id: "password",
            name: "password",
            type: "password",
            classes: "govuk-input--width-30 ",
            label: {
              text: "Repeat your new password",
              isPageHeading: false,
              classes: " govuk-!-font-weight-bold ",
            isPageHeading: false
            }
          }) }}
          
         
                <div class="govuk-button-group govuk-!-margin-bottom-6">
                  
                  {{ govukButton({
                    text: "Change password"
                  }) }}
                
                 
                </div>
               
                              

              </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>

     

{% endblock %}
