
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="future-opportunities-question" method="post">
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-l">
            Create your account - Step 4 of 6
          </span>Create a password
        </h1>





        {{ govukInput({
          label: {
            text: "Type in your password",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            html:
            "
              <p class='govuk-body'>
                Your password must:
              <p>
                <ul class='govuk-list govuk-list--bullet'>
                  <li>
                    be between 8 and 20 characters
                  </li>
                  <li>
                    contain at least one number
                  </li>
                  <li>
                    contain both upper and lower case characters
                  </li>
                </ul>
            "
          },
          id: "password",
          name: "password",
          type: "password"
        }) }}

        {{ govukInput({
          label: {
            text: "Repeat your password",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "password-repeated",
          name: "password-repeated",
          type: "password"
        }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary",
            href: "../login-to-account"
          }) }}
        </div>


              </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>



{% endblock %}
