
{% extends "layout-with-official-footer.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="#" method="post" >
 
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-xl">
          Feedback
         </h1>
         {{ govukInsetText({
           text: "A response to your feedback isn't guaranteed, however where there's a need to reply or we need further information we'll endeavour to do so within 48 hours."
         }) }}
           
         

         {{ govukInput({
          classes: "govuk-input--width-30",
           id: "email-address",
           name: "email-address",
           label: {
             text: "Email address"
           },
           hint: {
             text: "We'll reply to your email address. It won't be used for any other purpose.
             "
           }
         }) }}

         {{ govukSelect({
          id: "subject",
          name: "subject",
          label: {
            text: "Subject"
          },
         
          items: [
          {
            value: " ",
            text: "Select a subject"
          },
            {
             value: "I have a question about the application process",
             text: "I have a question about the application process"
           },
           {
             value: "I have a question about my application",
             text: "I have a question about my application"
           },
           {
             value: "I require technical support",
             text: "I require technical support"
           },
           {
             value: "I want to provide some general feedback about the website",
             text: "I want to provide some general feedback about the website"
           }
          ]
        }) }}
         
         {{ govukCharacterCount({
           name: "message-text",
           id: "message-text",
           maxlength: 500,
           label: {
             text: "Message"
           },
           hint: {
             text: "Do not include sensitive information such as personal details or passwords."
           }
         }) }}

         {{ govukButton({
           text: "Send",
           href: "feedback-confirmation"
         }) }}
        </div>
      </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>

     

{% endblock %}
