
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="check-account-answers" method="post">
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl"> 
          <span class="govuk-caption-l">
            Create account - Step 4 of 5
          </span>
          Create a password
        </h1>
      
        {{ govukInput({
          id: "password",
          name: "password",
          type: "password",
          label: {
            text: "Create a password",
            classes: "govuk-!-font-weight-bold"
          },
          hint:
          {
            text: "Your password must be between 8 and 20 characters. It must also contain characters and numbers, and upper and lower case characters."
          }
        }) }}
        
        {{ govukInput({
          id: "password-repeated",
          name: "password-repeated",
          type: "password",
          label: {
            text: "Repeat password",
            classes: "govuk-!-font-weight-bold"
          }
        }) }}
        
         
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
        
          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary",
            href: "#"
          }) }}
        </div>

                 
              </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>

     

{% endblock %}
