
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="../../check-answers/check-answer-professional-qualifications" method="post" novalidate data-validate='example-validation'>
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">
            Diversity monitoring
          </span>
          What is your professional qualification?
        </h1>

        {{ govukInsetText({
          text: "The information you submit will not be seen by the panel considering your application. You can select 'prefer not to say' for any questions you do not want to answer."
        }) }}
        
        
        {{ govukCharacterCount({
          name: "what-is-your-professional-qualification",
          id: "what-is-your-professional-qualification",
          maxlength: 2000,
          hint: {
            text: " Please complete this field even if you have included this information on your CV and/or supporting statement as it will help us to identify potential roles for you within your chosen profession"
          }
          
        }) }}


          


                <div class="govuk-button-group">
                  {{ govukButton({
                    text: "Continue"
                  }) }}
                
                  {{ govukButton({
                    text: "Cancel",
                    classes: "govuk-button--secondary",
                    href: "../account-dashboard"
                  }) }}
                </div>

                  

              </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>



{% endblock %}
