
{% extends "layout-no-head.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">
  <span class="govuk-caption-l">
    Prototype designs and project links
  </span>
  Public Appointments
</h1>

              {% set researchLinksHtml %}
                 <h2 class="govuk-heading-l">
                  <span class="govuk-caption-l">
                    Prototypes used for user research sessions
                  </span>Research links</h2>
                  
                  <h2 class="govuk-heading-l">
                    UR06 - E
                  </h2>
                  {{ govukButton({
                    text: "UR start",
                    href: "/v2/user-research/ur06e/transaction-site/dashboard"
                  }) }}
                  <hr>
                     <h2 class="govuk-heading-m">
                       UR06 
                       <span class="govuk-caption-l">
                         Sprints 21 and 22
                       </span>
                     </h2>
                     <h2 class="govuk-heading-l">
                      Feedback and other links
                    </h2>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>
                        <a href="#" class="govuk-link">User research feedback - LINK TBC</a>
                      </li>
                      <li>
                        <a href="#" class="govuk-link">Feedback - visual version - LINK TBC</a>
                      </li>
                    </ul>
                    <h2 class="govuk-heading-l">
                      Journeys included in UR
                    </h2>
                     <h3 class="govuk-heading-s">
                      Grouped questions journey
                    </h3>
                   
                     {{ govukButton({
                       text: "Account login",
                       href: "/v1/ur06/login-to-account"
                     }) }}
                     <h3 class="govuk-heading-s">
                      Split questions journey
                    </h3>
                    
                     {{ govukButton({
                       text: "Account login",
                       href: "/v1/ur06/split-version/login-to-account"
                     }) }}


                 

              {% endset -%}
      <!--Research section ends-->

      <!--Beta designs start-->
              {% set betaDesignsHtml %}


                  <h2 class="govuk-heading-l">
                    <span class="govuk-caption-l">
                      Prototypes designed during beta sprints
                    </span>
                    Beta designs</h2>
                      
                        {{ govukInsetText({
                          text: "Note that the latest link with
                          in each sprint is subject to change and as such should not be considered a stable version. Reference the latest user research link for the most up to date stable version of the prototype."
                        }) }}
                       

                        <h2 class="govuk-heading-l">
                          Version 3
                          <span class="govuk-caption-l">
                            Sprint 23
                          </span>
                      </h2>

                      <h2 class="govuk-heading-m">
                        Links created during Sprint 23
                      </h2>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                          TBC
                        </li>
                      </ul>

                      <h2 class="govuk-heading-m">
                        Links carried over from Sprint 22
                      </h2>

                     

                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                          <a href="/v2/account/account-dashboard" class="govuk-link">Account dashboard (including linked functionality)</a>
                        </li>
                        <li>
                          <a href="/v2/account/new-account/personal-details" class="govuk-link">Account creation</a>
                         </li>                       
                       <li>
                        <a href="/v2/account/login" class="govuk-link">Forgot password process</a>
                      </li>
                      <li>
                        <a href="/v2/account/login" class="govuk-link">2-factor login</a>
                      </li>
                      <li>
                        <a href="/v2/account/change-password/change-password" class="govuk-link">Account - change password</a>
                      </li>
                      <li>
                        <a href="/v2/account/delete-account/delete-account" class="govuk-link">Account - deletion (with live applications)</a>
                      </li>
                      <li>
                        <a href="/v2/account/delete-account/delete-account-no-roles" class="govuk-link">Account - deletion (no live applications)</a>
                      </li>
                      <li>
                        <a href="/v2/account/sign-out/sign-out-confirmation" class="govuk-link">Account - Sign out</a>
                      </li>
                      <li>
                        <a href="/v2/footer/footer-example" class="govuk-link">Footer design</a>
                      </li>
                      </ul>

                      <h2 class="govuk-heading-m">
                        Jira tickets completed in Sprint 23
                      </h2>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                          TBC
                        </li>
                      </ul>

                        <hr class="govuk-!-margin-top-9 govuk-!-margin-bottom-9">
                        <h2 class="govuk-heading-l">
                            Version 2 
                            <span class="govuk-caption-l">
                              Sprint 22
                            </span>
                        </h2>
                        <h2 class="govuk-heading-m">
                          Links created during from Sprint 22
                        </h2>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>
                            <a href="/v2/account/new-account/personal-details" class="govuk-link">Account creation</a>
                           </li>
                           <li>
                            <a href="/v2/account/account-dashboard" class="govuk-link">Account dashboard (including linked functionality)</a>
                          </li>
                          <li>
                            <a href="/v2/role/main-application-dashboard" class="govuk-link">Role application and 'More about you' workflow</a>
                          </li>
                         <li>
                           <a href="/v2/account/post-submission/application-listing" class="govuk-link">*** AWAITING INFO - Post application submission </a>
                         </li>
                         <li>
                          <a href="/v2/account/login" class="govuk-link">Forgot password process</a>
                        </li>
                        <li>
                          <a href="/v2/account/login" class="govuk-link">2-factor login</a>
                        </li>
                        <li>
                          <a href="/v2/account/change-password/change-password" class="govuk-link">Account - change password</a>
                        </li>
                        <li>
                          <a href="/v2/account/delete-account/delete-account" class="govuk-link">Account - deletion (with live applications)</a>
                        </li>
                        <li>
                          <a href="/v2/account/delete-account/delete-account-no-roles" class="govuk-link">Account - deletion (no live applications)</a>
                        </li>
                        <li>
                          <a href="/v2/account/sign-out/sign-out-confirmation" class="govuk-link">Account - Sign out</a>
                        </li>
                        <li>
                          <a href="/v2/footer/footer-example" class="govuk-link">Footer design</a>
                        </li>
                        </ul>
                        <h2 class="govuk-heading-m">
                          Jira tickets completed in Sprint 22
                        </h2>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>
                            <a href="https://technologyprogramme.atlassian.net/browse/PAPT-707" class="govuk-link" target="_blank">PAPT 707 - [DESIGN] Diversity Journey - Priority</a>
                          </li>
                          <li>
                            <a href="https://technologyprogramme.atlassian.net/browse/PAPT-549" class="govuk-link" target="_blank">PAPT 549 - [DESIGN] UR25 Application Submission: Include a preview of the application submission</a>
                          </li>
                          <li>
                            <a href="https://technologyprogramme.atlassian.net/browse/PAPT-781" class="govuk-link" target="_blank">PAPT 781 - Header design</a>
                          </li>
                          <li>
                            <a href="https://technologyprogramme.atlassian.net/browse/PAPT-787" class="govuk-link" target="_blank">PAPT 787 - Body → Login → Forgotten Password</a>
                          </li>
                          <li>
                            <a href="https://technologyprogramme.atlassian.net/browse/PAPT-753" class="govuk-link" target="_blank">PAPT 753 - Address lookup from Postcode</a>
                          </li>
                          <li>
                            <a href="https://technologyprogramme.atlassian.net/browse/PAPT-774" class="govuk-link" target="_blank">PAPT 774 - Body → Logout </a>
                          </li>
                          <li>
                            <a href="https://technologyprogramme.atlassian.net/browse/PAPT-916" class="govuk-link" target="_blank">PAPT 916 - Body - Applications submitted page </a>
                          </li>
                          <li>
                            <a href="https://technologyprogramme.atlassian.net/browse/PAPT-754" class="govuk-link" target="_blank">PAPT 754 - [Design] Determine “I can’t find my address” options </a>
                          </li>
                          <li>
                            <a href="https://technologyprogramme.atlassian.net/browse/PAPT-915" class="govuk-link" target="_blank">PAPT 915 - Body - Applications in Progress page </a>
                          </li>
                          <li>
                            <a href="https://technologyprogramme.atlassian.net/browse/PAPT-778" class="govuk-link" target="_blank">PAPT 778 - Body → Account → Overview </a>
                          </li>
                          <li>
                            <a href="https://technologyprogramme.atlassian.net/browse/PAPT-790" class="govuk-link" target="_blank">PAPT 790 - Body → Account → Delete </a>
                          </li>
                          <li>
                            <a href="https://technologyprogramme.atlassian.net/browse/PAPT-788" class="govuk-link" target="_blank">PAPT 788 - Body → Account → Change Password </a>
                          </li>
                          <li>
                            <a href="https://technologyprogramme.atlassian.net/browse/PAPT-855" class="govuk-link" target="_blank">PAPT 855 - Body → Account → Communications preferences </a>
                          </li>
                        </ul>

                      <hr>
                      
                      <h2 class="govuk-heading-l">
                        Version 1 - as-is
                        <span class="govuk-caption-l">
                          Spint 21
                        </span>
                    </h2>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>
                        <a href="/v1/transaction-site/dashboard" class="govuk-link">V1 dashboard</a>
                      </li>
                      <li>
                        <a href="/v1/account/new-account/personal-details" class="govuk-link">V1 account creation and dashboard</a>
                      </li>
                      <li>
                        <a href="/v1/account/login" class="govuk-link">V1 Login to application</a>
                      </li>
                    </ul>
                   
                 
                    <h3 class="govuk-heading-l">
                      Work carried out during this sprint
                    </h3>
                    <ul class="govuk-list govuk-list--bullet">
                      <li><a href="https://technologyprogramme.atlassian.net/jira/software/projects/PAPT/boards/123?assignee=6138887671a7e700721f07ba&selectedIssue=PAPT-765" class="govuk-link">Jira ticket PAPT-765 - removed content from role details</a> List item
                      </li>
                      <li>
                        Creation of 'as-is' prototype ahead of design iterations
                      </li>
                    </ul>

              {% endset -%}
        <!-- Beta section ends-->

        <!-- alpha links start-->
              {% set alphaLinksHtml %}
                  <h2 class="govuk-heading-l">
                    <span class="govuk-caption-l">
                      External links to work carried out during the alpha stage
                    </span>
                    Alpha links</h2>
                        <p class="govuk-body">
                          Links yet to be provided
                        <p>
              {% endset -%}
        <!-- alpha links end-->

        <!--tbc section starts-->

              {% set tbcHtml %}
                  <h2 class="govuk-heading-l">TBC</h2>
                          <p class="govuk-body">
                            Purpose yet to be decided
                          <p>
              {% endset -%}

        <!--tbc section ends-->


        <!--TABS Start here-->

              {{ govukTabs({
                items: [
                  {
                    label: "Research links",
                    id: "research-links",
                    panel: {
                      html: researchLinksHtml
                    }
                  },
                  {
                    label: "Beta designs",
                    id: "beta-designs",
                    panel: {
                      html: betaDesignsHtml
                    }
                  }
                ]
              }) }}
    </div>
  </div>

{% endblock %}
