
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">
  <span class="govuk-caption-l">
    Prototype designs and project links
  </span>
  Public Appointments
</h1>

              {% set researchLinksHtml %}
                 <h2 class="govuk-heading-l">
                  <span class="govuk-caption-l">
                    Prototypes used for user research sessions
                  </span>Research links</h2>
                      <p class="govuk-body">
                        Links to be provided
                      <p>
              {% endset -%}
      <!--Research section ends-->

      <!--Beta designs start-->
              {% set betaDesignsHtml %}


                  <h2 class="govuk-heading-l">
                    <span class="govuk-caption-l">
                      Prototypes designed during beta sprints
                    </span>
                    Beta designs</h2>
                      
                        {{ govukInsetText({
                          text: "Note that the latest link with
                          in each sprint is subject to change and as such should not be considered a stable version. Reference the latest user research link for the most up to date stable version of the prototype."
                        }) }}

                        <h2 class="govuk-heading-l">
                            Version 1
                        </h2>

                      {{ govukButton({
                        text: "V1 dashboard",
                        href: "/v1/transaction-site/dashboard"
                      }) }}

                      {{ govukButton({
                        text: "V1 account creation",
                        href: "/v1/account/new-account/personal-details"
                      }) }}

                      {{ govukButton({
                        text: "Login screen",
                        href: "/v1/account/login"
                      }) }}



              {% endset -%}
        <!-- Beta section ends-->

        <!-- alpha links start-->
              {% set alphaLinksHtml %}
                  <h2 class="govuk-heading-l">
                    <span class="govuk-caption-l">
                      External links to work carried out during the alpha stage
                    </span>
                    Alpha links</h2>
                        <p class="govuk-body">
                          Links yet to be provided
                        <p>
              {% endset -%}
        <!-- alpha links end-->

        <!--tbc section starts-->

              {% set tbcHtml %}
                  <h2 class="govuk-heading-l">TBC</h2>
                          <p class="govuk-body">
                            Purpose yet to be decided
                          <p>
              {% endset -%}

        <!--tbc section ends-->


        <!--TABS Start here-->

              {{ govukTabs({
                items: [
                  {
                    label: "Research links",
                    id: "research-links",
                    panel: {
                      html: researchLinksHtml
                    }
                  },
                  {
                    label: "Beta designs",
                    id: "beta-designs",
                    panel: {
                      html: betaDesignsHtml
                    }
                  },
                  {
                    label: "Alpha links",
                    id: "alpha-links",
                    panel: {
                      html: alphaLinksHtml
                    }
                  },
                  {
                    label: "TBC",
                    id: "tbc",
                    panel: {
                      html: tbcHtml
                    }
                  }
                ]
              }) }}
    </div>
  </div>

{% endblock %}
