
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<form action="../../check-answers/check-answer-professional-qualifications" method="post" novalidate data-validate='example-validation'>
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">
            More about you
          </span>
          What professional field(s) is the qualification(s) within?
        </h1>



        


        {% set otherHtml %}
        {{ govukCharacterCount({
          name: "with-hint",
          id: "with-hint",
          maxlength: 200,
          label: {
            text: "Provide more detail on the field(s) that the qualification(s) within?",
            classes: "govuk-label--m",
            isPageHeading: true
          }
        }) }}
        {% endset -%}

        {{ govukCheckboxes({
          idPrefix: "professional-qualifications-fields",
          name: "professional-qualifications-fields",
          
          hint: {
            text: "Select all fields that apply"
          },
          items: [
            {
              value: "Communications and marketing",
              text: "Communications and marketing"
            },
            {
              value: "Economics",
              text: "Economics"
            },
            {
              value: "Finance and accountancy",
              text: "Finance and accountancy"
            },
            {
              value: "Human resources",
              text: "Human resources"
            },
            {
              value: "Information technology",
              text: "Information technology"
            },
            {
              value: "Inspector of education and training",
              text: "Inspector of education and training"
            },
            {
              value: "Intelligence analysis",
              text: "Intelligence analysis"
            },
            {
              value: "Internal audit",
              text: "Internal audit"
            },
            {
              value: "Knowledge and information management",
              text: "Knowledge and information management"
            },
            {
              value: "Legal",
              text: "Legal"
            },
            {
              value: "Librarianship",
              text: "Librarianship"
            },
            {
              value: "Medicine and nursing",
              text: "Medicine and nursing"
            },
            {
              value: "Operational delivery",
              text: "Operational delivery"
            },
            {
              value: "Operational research",
              text: "Operational research"
            },
            {
              value: "Planning",
              text: "Planning"
            },
            {
              value: "Policy delivery",
              text: "Policy delivery"
            },
            {
              value: "Procurement and contract management",
              text: "Procurement and contract management"
            },
            {
              value: "Programme and project management",
              text: "Programme and project management"
            },
            {
              value: "Property asset management",
              text: "Property asset management"
            },
            {
              value: "Psychology",
              text: "Psychology"
            },
            {
              value: "Science and engineering",
              text: "Science and engineering"
            },
            {
              value: "Security",
              text: "Security"
            },
            {
              value: "Social and market research",
              text: "Social and market research"
            },
            {
              value: "Statistics",
              text: "Statistics"
            },
            {
              value: "Strategy",
              text: "Strategy"
            },
            {
              value: "Tax inspection",
              text: "Tax inspection"
            },
            {
              value: "Teaching",
              text: "Teaching"
            },
            {
              value: "Veterinary science",
              text: "Veterinary science"
            },
            {
              value: "other",
              text: "Other",
              conditional: {
                html: otherHtml
              }
            },
            {
              divider: "or"
            },
            {
              value: "Prefer not to say",
              text: "Prefer not to say",
              behaviour: "exclusive"
            }
          ]
        }) }}


                <div class="govuk-button-group">
                  {{ govukButton({
                    text: "Continue"
                  }) }}
                
                  {{ govukButton({
                    text: "Cancel",
                    classes: "govuk-button--secondary",
                    href: "../main-application-dashboard"
                  }) }}
                </div>

                  

              </div>
    </div>
  </main>
</div>
  </div>
</form>
 </div>

 <script type="application/json" id="example-validation">
  { 		  	
    "professional-qualifications-fields": {
      "presence": {
        "message": "^Select an option or 'Prefer not to say"
      }
    }
    
  }
</script>

{% endblock %}
