
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<form action="../role/main-application-dashboard" method="post" novalidate data-validate='example-validation'>
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your answers before saving this section of your application</h1>

        <h2 class="govuk-heading-m">Sex and gender identity</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          

            {% if data['your-sex'] === 'male' or data['your-sex'] === 'female' or data['your-sex'] === 'prefer-not-to-say' %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What is your sex?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['your-sex'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../role/diversity-monitoring/sex-and-gender#your-sex">
                  Change<span class="govuk-visually-hidden"> your sex?</span>
                </a>
              </dd>
            </div>
  
             {% else %}
            
             <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What is your sex?
              </dt>
              <dd class="govuk-summary-list__value">
                Male
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../role/diversity-monitoring/sex-and-gender#your-sex">
                  Change<span class="govuk-visually-hidden"> your sex?</span>
                </a>
              </dd>
            </div>

            {% endif %}

            {% if data['gender-identity-same-as-sex'] === 'yes' or data['gender-identity-same-as-sex'] === 'no' or data['gender-identity-same-as-sex'] === 'prefer-not-to-say' %}

           
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is the gender you identify with the same as your sex registered at birth?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gender-identity-same-as-sex'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../role/diversity-monitoring/sex-and-gender#gender-identity-same-as-sex">
                Change<span class="govuk-visually-hidden"> gender identified at birth</span>
              </a>
            </dd>
          </div>
          {% else %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is the gender you identify with the same as your sex registered at birth?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../role/diversity-monitoring/sex-and-gender#gender-identity-same-as-sex">
                Change<span class="govuk-visually-hidden"> gender identified at birth</span>
              </a>
            </dd>
          </div>

          {% endif %}
        </dl>
        

        <h2 class="govuk-heading-m">Now save this section of your application</h2>

        <p class="govuk-body">By including these details within your application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

       {{ govukCheckboxes({
         idPrefix: "sex-and-gender-check",
         name: "sex-and-gender-check",
         
        
         items: [
           {
             value: "confirm",
             text: "Confirm that you are happy with these details"
           }
         ]
       }) }}

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Accept and save
          </button>

       

      </div>
    </div>
  </main>
</div>
</form>


<script type="application/json" id="example-validation">
  { 		  	
    "sex-and-gender-check": {
      "presence": {
        "message": "^confirm that the details for this section are correct."
      }
    }
  }
</script>


{% endblock %}
