
{% extends "layout.html" %}

{% block pageTitle %}
Public appointments
{% endblock %}

{% block content %}
<form action="../role/main-application-dashboard" method="post" novalidate data-validate='example-validation'>
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your answers before saving this section of your application</h1>

        <h2 class="govuk-heading-m">Professional qualifications</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you hold a professional qualification?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['professional-qualifications'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../role/more-about-you/professional-qualificiations">
                Change<span class="govuk-visually-hidden"> professional qualifications</span>
              </a>
            </dd>
          </div>


          {% if data['professional-qualifications'] === 'yes' %}



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What professional field(s) is the qualification(s) within?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['professional-qualifications-fields'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../role/more-about-you/professional-qualificiations-detail">
                Change<span class="govuk-visually-hidden"> professional field qualification is in</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is your professional qualification? 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['what-is-your-professional-qualification'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../role/more-about-you/professional-qualificiations-detail">
                Change<span class="govuk-visually-hidden"> professional field qualification is in</span>
              </a>
            </dd>
          </div>

         {% else %}
      
          {% endif %}

        </dl>  
       
 
         <!--for prototype validation only-->
         <span class="govuk-visually-hidden">
            {{ govukCheckboxes({
              idPrefix: "professional-qualifications-check",
              name: "professional-qualifications-check",
              
            
              items: [
              {
                value: "confirm",
                text: "Confirm that you are happy with these details - this section requires content design.",
                checked: "true"
              }
            ]
          }) }}
          <input type="hidden" name="answers-checked" value="true">
          </span>
           <!--for prototype validation only-->

          <button class="govuk-button" data-module="govuk-button">
            Accept and save
          </button>

       

      </div>
    </div>
  </main>
</div>
</form>
<script type="application/json" id="example-validation">
  { 		  	
    "professional-qualifications-check": {
      "presence": {
        "message": "^validation to be confirmed."
      }
    }
  }
</script>
{% endblock %}
